{% extends "home/index.html" %}
{% load static %}
{% block catalog_Title %}    
Movies
{% endblock %}
{% block catalog_content %}
        {% for movie in movie_list %}
        {% if movie.image %}
        <div style="text-align: center;">
            <img height="250px" src="{{ movie.image.url }}">
        </div>
        {% endif %}
        
        <!-- Post preview-->
         <div class="post-preview">
                <a href="{% url 'movie:movie-detail' movie.id %}#portfolio">
                    <h2 class="post-title">Pelicula: {{ movie.name }}</h2>
                    <h3 class="post-subtitle">Categoria: {{ movie.category }}</h3>
                </a>
            <p class="post-meta">
                 Recomendada por
                    <span style="color: #0b4956;" href="">{{ movie.owner.username }}</span>
                ( {{ movie.created_at }} )
            </p> 
         </div>
            <!-- Divider-->
         <hr class="my-4" />
        {% endfor %}
{% endblock %}

</body>
</html>


