{% extends "home/index.html" %}
{% load static %}

{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
{% block catalog_Title %}    
{{ movie.name }}
{% endblock %}
{% block catalog_content %}
<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">Category: {{ movie.category }}</h3>
    <h3 class="post-subtitle">Rate: {{ movie.rate }} of 10</h3>
    <p class="post-meta">
        Recomendada por
        <span style="color: #0b4956;" href="">{{ movie.owner.username }}</span>
        ( {{ movie.created_at }} )
        <br>
        Última fecha de actualización ( {{ movie.updated_at }} )
    </p>

    <!-- Image -->
    {% if movie.image %}
        <div style="text-align: center;">
            <img height="400px" src="{{ movie.image.url }}">
        </div>
    {% endif %}

    <!-- Description -->
    <p class="card-text" style="text-align: center;">{{ movie.review|safe }}</p> <!-- ckeditor-->

    <!-- Update-Delete link only for the owner -->
    {% if user == movie.owner or user.is_superuser %}
        <p style="text-align: center">
            <a href="{% url 'catalog:movie-update' movie.id %}#portfolio">
                <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar Recomendación
            </a>
            &ensp; | &ensp;
            <a href="{% url 'catalog:movie-delete' movie.id %}#portfolio">
                <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar Review
            </a>
        </p>
    {% endif %}
    
    <!-- Divider-->
    <hr class="my-4" />

    <!-- Comment creation -->
    <form method="POST" action="{% url 'catalog:comment-create' movie.id %}">
        {% csrf_token %}
        {{ comment_form }}
    <input type="submit" value="Publicar comentario">
    </form>
    {% if not comments %}
        <p></p>
    {% endif %}

    <!-- Comments list -->
    {% for comment in comments %}
        <p> {{ comment.text }}
            ({{ comment.owner.username }} | {{ comment.updated_at }})
            {% if user == comment.owner or user.is_superuser %}
            <a href="{% url 'catalog:comment-delete' comment.id %}"><i class="fa fa-trash" style="color: #881a1a;"></i></a>
            {% endif %}
        </p>
    {% endfor %}
</div>
{% endblock %}
