{% extends "home/index.html" %}
{% load static %}
{% block catalog_Title %}    
Movies
{% endblock %}
{% block catalog_content %}
        {% for serie in serie_list %}
        {% if serie.image %}
        <div style="text-align: center;">
            <img height="250px" src="{{ serie.image.url }}">
        </div>
        {% endif %}
        
        <!-- Post preview-->
         <div class="post-preview">
                <a href="{% url 'catalog:serie-detail' serie.id %}#portfolio">
                    <h2 class="post-title">Pelicula: {{ serie.name }}</h2>
                    <h3 class="post-subtitle">Categoria: {{ serie.category }}</h3>
                </a>
            <p class="post-meta">
                 Recomendada por
                    <span style="color: #0b4956;" href="">{{ serie.owner.username }}</span>
                ( {{ serie.created_at }} )
            </p> 
         </div>
            <!-- Divider-->
         <hr class="my-4" />
        {% endfor %}
{% endblock %}

</body>
</html>


